In [2]:
import pandas as pd

mem_diff_df = pd.read_json('output_data/mem_diff.json')
display(mem_diff_df)

,rt,stimulus,response,trial_type,trial_index,plugin_version,time_elapsed,start,subject_id,OS,fullscreen_mode,radius,memory_delay,theta,image_id,experiment_complete,end_time,slider_start,condition_id,view_history
0,NaN,images/174-space_shuttle.jpg,NaN,wm,1,2.1.0,2005,2025-05-28 18:29:49.558,4,MacIntel,True,200,3000,2.603,174.0,True,2025-05-28 18:30:05.266,NaN,NaN,NaN
1,NaN,images/191-kettle.jpg,NaN,wm,3,2.1.0,3210,2025-05-28 18:29:49.558,4,MacIntel,True,200,3000,0.508,191.0,True,2025-05-28 18:30:05.266,NaN,NaN,NaN
2,NaN,images/202-ruby.jpg,NaN,wm,5,2.1.0,4416,2025-05-28 18:29:49.558,4,MacIntel,True,200,3000,4.697,202.0,True,2025-05-28 18:30:05.266,NaN,NaN,NaN
3,4418.0,images/174-outlet.jpg,26.0,wm,7,2.1.0,11841,2025-05-28 18:29:49.558,4,MacIntel,True,200,3000,2.603,174.0,True,2025-05-28 18:30:05.266,67.0,1.0,NaN
4,1556.0,NaN,NaN,instructions,8,2.1.0,13398,2025-05-28 18:29:49.558,4,MacIntel,True,200,3000,NaN,NaN,True,2025-05-28 18:30:05.266,NaN,NaN,"[{'page_index': 0, 'viewing_time': 1556}]"
5,1765.0,images/191-kettle.jpg,56.0,lm,10,2.1.0,15665,2025-05-28 18:29:49.558,4,MacIntel,True,200,3000,NaN,191.0,True,2025-05-28 18:30:05.266,17.0,1.0,NaN
6,2442.0,NaN,NaN,instructions,11,2.1.0,18108,2025-05-28 18:29:49.558,4,MacIntel,True,200,3000,NaN,NaN,True,2025-05-28 18:30:05.266,NaN,NaN,"[{'page_index': 0, 'viewing_time': 2442}]"

In [19]:
import json
import pandas as pd

# Path to your file
file_path = '/Users/kamp/PhD/experiments/mem_diff_exp/output_data/mem_diff-results.json'

with open(file_path, 'r') as f:
    outer = json.load(f)

data = json.loads(outer['data'])

data_properties = data["dataProperties"]

trial_data = data['results']['trials']
df = pd.DataFrame(trial_data)
display(df)

,rt,stimulus,response,trial_type,trial_index,plugin_version,time_elapsed,start,subject_id,OS,fullscreen_mode,radius,memory_delay,theta,image_id,experiment_complete,end_time,slider_start,condition_id,view_history
0,NaN,images/174-space_shuttle.jpg,NaN,wm,1,2.1.0,2012,2025-06-10 08:35:42.085,1,MacIntel,True,200,3000,2.603,174,True,2025-06-10 08:36:30.679,NaN,NaN,NaN
1,NaN,images/191-kettle.jpg,NaN,wm,3,2.1.0,3218,2025-06-10 08:35:42.085,1,MacIntel,True,200,3000,0.508,191,True,2025-06-10 08:36:30.679,NaN,NaN,NaN
2,NaN,images/202-ruby.jpg,NaN,wm,5,2.1.0,4425,2025-06-10 08:35:42.085,1,MacIntel,True,200,3000,4.697,202,True,2025-06-10 08:36:30.679,NaN,NaN,NaN
3,36192.0,images/174-outlet.jpg,69.0,wm,7,2.1.0,43623,2025-06-10 08:35:42.085,1,MacIntel,True,200,3000,2.603,174,True,2025-06-10 08:36:30.679,40.0,1,NaN
4,2052.0,NaN,NaN,instructions,8,2.1.0,45678,2025-06-10 08:35:42.085,1,MacIntel,True,200,3000,NaN,NaN,True,2025-06-10 08:36:30.679,NaN,NaN,"[{'page_index': 0, 'viewing_time': 2052}]"
5,2238.0,images/191-kettle.jpg,50.0,lm,10,2.1.0,48422,2025-06-10 08:35:42.085,1,MacIntel,True,200,3000,NaN,191,True,2025-06-10 08:36:30.679,37.0,1,NaN
6,1764.0,NaN,NaN,instructions,11,2.1.0,50188,2025-06-10 08:35:42.085,1,MacIntel,True,200,3000,NaN,NaN,True,2025-06-10 08:36:30.679,NaN,NaN,"[{'page_index': 0, 'viewing_time': 1764}]"

In [42]:
import glob
import os
def get_image_paths(folder): 
    image_path = list(glob.glob(os.path.join(folder, "**", "*.jpg"), recursive=True))
    image_path = [os.path.join("stimuli", i.split("stimuli/", 1)[-1]) for i in image_path]
    image_id = [i.split("/")[-1].rstrip(".jpg") for i in image_path]
    return pd.DataFrame(dict(image_id=image_id, image_path=image_path))
get_image_paths("/Users/kamp/PhD/experiments/mem_diff_exp/stimuli")

     image_id                              image_path
0        1024  stimuli/lm_stimuli/images/024/1024.jpg
1        3024  stimuli/lm_stimuli/images/024/3024.jpg
2        2024  stimuli/lm_stimuli/images/024/2024.jpg
3        4024  stimuli/lm_stimuli/images/024/4024.jpg
4        3023  stimuli/lm_stimuli/images/023/3023.jpg
...       ...                                     ...
1457     9702    stimuli/dist_stimuli/images/9702.jpg
1458     9064    stimuli/dist_stimuli/images/9064.jpg
1459     9070    stimuli/dist_stimuli/images/9070.jpg
1460     9716    stimuli/dist_stimuli/images/9716.jpg
1461     9058    stimuli/dist_stimuli/images/9058.jpg

[1462 rows x 2 columns]

In [54]:
import numpy as np
i = 0
a = f"{i:02d}"
while i<10:
    i +=1 
print(a)

00

In [4]:
import numpy as np
import pandas as pd

a = np.concat([np.arange(2), ["a","b"]])
pd.DataFrame([a,a], columns=list("abcd"))

   a  b  c  d
0  0  1  a  b
1  0  1  a  b

In [ ]:
theta = [1.527, 2.784, 5.297, 4.04, 0.27, 2.784]

def convert2cartesian(radius, theta):
    x = radius * np.cos(theta)
    y = radius * np.sin(theta)
    return x, y

radius = 180
cartesian_coords = np.round([convert2cartesian(radius, t) for t in theta],2)
cartesian_coords

array([[   7.88,  179.83],
       [-168.61,   63.  ],
       [  99.34, -150.11],
       [-112.11, -140.82],
       [ 173.48,   48.01],
       [-168.61,   63.  ]])